<h1>Terry's Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>Just now a request was made to reset the password on your Terry's Sample App account. 
If this was you, reset your password by clicking the link below:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours.</p>

<p>If you didn't request a password reset, please ignore this email and your password will stay as is.</p>

<p>Bonanza,</p>
<p>Terry</p>